:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	background-color: white;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	 background-color: #1a1a1a; 
	cursor: pointer;
	 transition: border-color 0.25s; 
}
button:hover {
	 border-color: #646cff; 
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color; 
}  */

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Goldplay';
	font-weight: 900;
	src: url('../public/Goldplay-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 700;
	src: url('../public/Goldplay-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 600;
	src: url('../public/Goldplay-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 500;
	src: url('../public/Goldplay-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 400;
	src: url('../public/Goldplay-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 300;
	src: url('../public/Goldplay-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Goldplay';
	font-weight: 100;
	src: url('../public/Goldplay-Thin.woff2') format('woff2');
}
